h1 {
	font-size: 80px;
	text-align: center;
	color: tomato;
}

p {
	color: violet;
	text-align: center;
}

#top {
	background: grey;
	text-align: center;
}

#content {
	width: 600px;
	background: #81F7F3;
	border: 3px dashed red;
	border-radius: 20px;
	margin: 40px auto;
	padding: 30px;
}

#second {
	width: 600px;
	background: #81F7F3;
	border: 3px dashed red;
	margin: 40px auto;
	padding: 30px;
}

#boxmodel_pic {
	width: 200px;
	float: left;
}

#bm_footer {
	background: #336699;
	color: white;
	font-size: 12px;
	padding: 20px;
	border: 10px solid yellow;
}

#bm_footer p {
	color: white;
}

.crazy-color {
	color: fuchsia;
}

.crazy-color, .this-one {
	text-align: center;
}






